<div class="main">
  <section class="a">
      <h1 class="t">MANEJAR</h1>
      <p class="p">Evita usar tu celular mientras manejas.</p>
  </section>
  <section class="b">
      <h1 class="t">COMER</h1>
      <p class="p">Evita usar tu celular mientras comes.</p>
  </section>
  <section class="c">
      <h1 class="t">CAMINAR</h1>
      <p class="p">Mientras caminas en lugares públicos evita usar tu celular.</p>
  </section>
  <section class="d">
      <h1 class="t">SELFIE</h1>
      <p class="p">Evita tomarte selfies en lugares peligrosos</p>
  </section>
</div>