<main>
  <article>
    <h1>RESOLVIENDO TUS DUDAS.</h1>
    <section>
      <h2>Primer Turorial</h2>
      <figure>
        <img src="assets/smedia.jpg" alt="">
      </figure>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia impedit repudiandae dicta quia ut, aperiam fugiat, facere ex veritatis ipsa debitis. Obcaecati ex labore sunt repellat, asperiores sequi sit est!
      </p>
      <ol>
       <li><a href="#">hola</a></li>
       <li><a href="#">hola</a></li>
       <li><a href="#">hola</a></li>
       <li><a href="#">hola</a></li>
       <li><a href="#">hola</a></li>
       <li><a href="#">hola</a></li>
      </ol>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At doloribus minus, unde labore numquam sit ratione nisi repellat! Atque vero dolorum recusandae soluta iure! Facere incidunt odio unde officia voluptate assumenda maiores temporibus minus, voluptatem fuga distinctio, officiis molestiae consequatur?</p>
    </section>
    <section>
      <h2>Segundo Turorial</h2>
      <figure>
        <img src="assets/email.jpg" alt="">
      </figure>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia impedit repudiandae dicta quia ut, aperiam fugiat, facere ex veritatis ipsa debitis. Obcaecati ex labore sunt repellat, asperiores sequi sit est!
      </p>
      <ol>
        <li><a href="#">hola</a></li>
        <li><a href="#">hola</a></li>
        <li><a href="#">hola</a></li>
        <li><a href="#">hola</a></li>
        <li><a href="#">hola</a></li>
        <li><a href="#">hola</a></li>
      </ol>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At doloribus minus, unde labore numquam sit ratione nisi repellat! Atque vero dolorum recusandae soluta iure! Facere incidunt odio unde officia voluptate assumenda maiores temporibus minus, voluptatem fuga distinctio, officiis molestiae consequatur?</p>
    </section>
  </article>
</main>