<div class="cont">
  <div class="art">
      <img src="https://placeimg.com/200/200/any" alt="">
      <h1>Primer Tutorial.</h1>
      <h3>Lorem ipsum dolor.</h3>
      <ul>
        <li>1.- paso 1</li>
        <li>2.- paso 2</li>
        <li>3.- paso 3</li>
        <li>4.- paso 4</li>
      </ul>
      <a routerLink="/contenido-tuto">leer mas...</a>
  </div>
  <div class="art">
      <img src="https://placeimg.com/200/200/any" alt="">
      <h1>Segundo Tutorial.</h1>
      <h3>Lorem ipsum dolor.</h3>
      <ul>
          <li>1.- paso 1</li>
          <li>2.- paso 2</li>
          <li>3.- paso 3</li>
          <li>4.- paso 4</li>
      </ul>
      <a routerLink="/contenido-tuto">leer mas...</a>
  </div>
  <div class="art">
      <img src="https://placeimg.com/200/200/any" alt="">
      <h1>Tutoriales</h1>
      <h3>Lorem ipsum dolor.</h3>
      <ul>
          <li>1.- paso 1</li>
          <li>2.- paso 2</li>
          <li>3.- paso 3</li>
          <li>4.- paso 4</li>
      </ul>
      <a href="#">leer mas...</a>
  </div>
  <div class="art">
      <img src="https://placeimg.com/200/200/any" alt="">
        <h1>Tutoriales</h1>
        <h3>Lorem ipsum dolor.</h3>
        <ul>
            <li>1.- paso 1</li>
            <li>2.- paso 2</li>
            <li>3.- paso 3</li>
            <li>4.- paso 4</li>
        </ul>
        <a href="#">leer mas...</a>
  </div>
      <div class="art">
          <img src="https://placeimg.com/200/200/any" alt="">
          <h1>Tutoriales</h1>
          <h3>Lorem ipsum dolor.</h3>
          <ul>
              <li>1.- paso 1</li>
              <li>2.- paso 2</li>
              <li>3.- paso 3</li>
              <li>4.- paso 4</li>
          </ul>
          <a href="#">leer mas...</a>
        </div>
        <div class="art">
            <img src="https://placeimg.com/200/200/any" alt="">
            <h1>Tutoriales</h1>
            <h3>Lorem ipsum dolor.</h3>
            <ul>
                <li>1.- paso 1</li>
                <li>2.- paso 2</li>
                <li>3.- paso 3</li>
                <li>4.- paso 4</li>
            </ul>
            <a href="#">leer mas...</a>
          </div>
</div>