<div class="hoja">
  <div class="formulario">
      <form>
          <label>Nombre</label>
          <input type="text">
          <label>Describe tu duda</label>
          <textarea name="texto" id="letras" cols="50" rows="20"></textarea>
          <button type="submit">Enviar</button>
      </form>
  </div>
  <div class="hojaA">
      <h1 class="title">¿Tienes alguna duda?</h1>
      <p class="coment">En caso de tener dudas acerca de como utilizar alguna función de tu celular, en esta sección podras dejar tu comentario y en breve te la resolveremos.</p>
  </div>
</div>